<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Frontend Web Developer</title>
</head>

<body>

	<header>
		<img src="https://via.placeholder.com/30.webp/C5C5C5/FFFFFF/?text=logo" alt="Logo">
		<div class="navigation">
			navigation
		</div>
	</header>

	<main>
		<section>
			<form class="form">
				<input id="name" type="text" name="input"
					value="In the country of Sokovia, the Avengers – Tony Stark, Steve Rogers, Thor, Bruce Banner, Natasha Romanoff, and Clint Barton – raid a Hydra outpost led by Wolfgang von Strucker, who has been experimenting on humans using the scepter previously wielded by Loki. They encounter two of Strucker's experiments – twins Pietro, who has superhuman speed, and Wanda Maximoff, who can manipulate minds and project energy – and apprehend Strucker, while Stark retrieves Loki's scepter."
					placeholder="Please input content">
				<input type="submit" name="" value="Submit Form">
			</form>
		</section>

		<section>
			<strong>Form Results:</strong>
			<div id="results"></div>
		</section>
	</main>

	<footer>
		<p>Created by TruongDN2@fsoft.com.vn</p>
	</footer>

</body>
<script>
	// Check that service workers are supported
	if ('serviceWorker' in navigator) {
		// Use the window load event to keep the page load performant
		window.addEventListener('load', () => {
			navigator.serviceWorker.register('/service-worker.js');
		});
	}
</script>

</html>