<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Frontend Web Developer</title>
</head>

<body>

	<header>
		<img src="https://via.placeholder.com/30.webp/C5C5C5/FFFFFF/?text=logo" alt="Logo">
		<div class="navigation">
			navigation
		</div>
	</header>

	<main>
		<section>
			<form class="form">
				<input id="name" type="text" name="input" value="" placeholder="Name">
				<input type="submit" name="" value="Submit Form">
			</form>
		</section>

		<section>
			<strong>Form Results:</strong>
			<div id="results"></div>
		</section>
	</main>

	<footer>
		<p>Created by TruongDN2@fsoft.com.vn</p>
	</footer>

</body>

</html>