form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 10px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
		border-radius: 6px;
		outline: none;
		border: 1px solid #ddd;
		font-size: 20px;
}
input[type="submit"]{
	font-weight: bold;
}
input[type="submit"]:hover{
	cursor: pointer;
}