:root {
	--primary: rgb(37, 37, 37);
	--secondary: rgb(53, 53, 53);
}

body {
	background: #fffff8;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
	/* height:100vh; */
	background: #ececec50;
	color: #363636;
	display: grid;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	grid-auto-rows: minmax(150px, auto);
	grid-row-gap: 0.5rem;
	grid-template-columns: auto;
}

.holder {
}

.entry {
	background: rgba(59, 74, 107, 0.4);
}

#entryHolder {
}

#date {
}

#temp {
}

#content {
}

.headline {
	font-size: 100px;
	text-align: center;
}
.title {
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
	display: block;
	font-size: 27px;
}

input {
	background: #ffffff;
	border: 1px solid #ccc;
	border-radius: 6px;
	color: #383838;
	display: block;
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	height: 60px;
	padding: 2px 6px;
	width: 320px;
}

button {
	background: #95a8d3;
	border: none;
	box-shadow: 2px 4px 5px #444;
	color: var(--primary);
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	padding: 25px 100px;
	border-radius: 6px;
}
h1 {
	font-size: 36px;
}

textarea {
	background: #fff;
	color: var(--primary);
	font-family: 'Oswald', sans-serif;
	font-size: 20px;
	padding: 10px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}
button:hover {
	cursor: pointer;
}
/* Style for Placeholder Text*/
::placeholder {
	/* Firefox, Chrome, Opera */
	color: var(--secondary);
	font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: var(--secondary);
	font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: var(--secondary);
	font-family: 'Oswald', sans-serif;
}
#generate{
	margin-bottom: auto;
}