:root {
	--color-primary: #024ca9;
}
body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
	align-items: center;
	backdrop-filter: blur(10px);
	background-color: #fff;
	box-shadow: 0 4px 20px -2px rgba(128, 128, 128, 0.199);
	display: flex;
	height: 60px;
	justify-content: space-between;
	left: 0;
	padding-right: 20px;
	position: fixed;
	right: 0;
	top: 0;
}

.header_left {
	align-items: center;
	display: flex;
}

#logo_header {
	height: 40px;
	margin-left: 30px;
	width: 40px;
}
.container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding-top: 60px;
}
.navlink_header {
	align-items: center;
	display: flex;
	list-style-type: none;
	padding-left: 20px;
}
.navlink_header li a {
	color: gray;
	margin-right: 10px;
	text-decoration: none;
}
.navlink_header li a.active {
	border: 2px solid #ccc;
	border-radius: 6px;
	padding: 5px 10px;
}
.navlink_header li a:hover {
	color: rgb(105, 105, 105);
}
.header_right {
	align-items: center;
	display: none;
}
#search_header {
	border: 1px solid #ccc;
	border-radius: 4px;
	color: var(--color-primary);
	margin-right: 10px;
	outline: none;
	padding: 6px;
}
.container {
	margin-left: auto;
	margin-right: auto;
}
#banner {
	height: 300px;
	margin-bottom: 10px;
	width: 100%;
}
.main_homepage_articles {
	display: grid;
	grid-row-gap: 30px;
	grid-template-columns: auto;
}
.article_homepage {
	padding: 10px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	display: flex;
	flex-direction: column;
}
.article_image{
	width: 100%;
	max-height: 210px;
}
.article_header {
	display: flex;
	flex-direction: column;
}

.article_header_right {
	padding-left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.article_header_right h2{
	font-size: 24px;
	margin-top: 0;
	display:-webkit-box;
	-webkit-line-clamp:2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
}
.article_header_right_detail {
	display: flex;
	grid-column-gap: 10px;
	margin-top: auto;
}
.main_homepage {
	border-bottom: 1px solid #ccc;
	display: grid;
	flex-grow: 1;
	grid-template-columns: auto;
	margin-bottom: 20px;
}
.article_content{
	display:-webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	text-align: left;
	margin-bottom: 20px;
	flex-grow: 1;
	margin-top: 10px;
}
.article_footer{
	justify-self: end;
	margin-bottom: 16px;
}

.main_homepage_sidebar {
	background-color: #cccccc7c;
	display: none;
}

footer {
	margin-top: auto;
}
.test [class^='box'] {
	border: 1px solid #b8b8b8;
	display: flex;
	justify-content: center;
	align-items: center;
}
.test {
	display: grid;
	/* grid-template-columns: auto auto auto; */
	grid-auto-rows: 100px;
	grid-gap: 10px;
	grid-template-areas: '.';
}