@media (min-width: 768px) {
	.container {
		max-width: 1280px;
	}
	.header_right {
		align-items: center;
		display: flex;
	}
	.main_homepage {
		grid-template-columns: auto 300px;
		padding: 0;
	}
	.card_image {
		aspect-ratio: 1;
		width: 150px;
	}
	.main_homepage_cards {
		grid-template-columns: auto;
		margin-right: 20px;
		padding-left: 4px;
	}
	.newPost {
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 20px;
		margin-top: 10px;
		text-align: center;
	}
	.main_homepage_sidebar {
		background-color: #ececec;
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		height: max-content;
	}
	.sidebar_post_list {
		font-size: 24px;
		list-style-type: none;
		margin-top: 0;
		padding: 0;
	}
	.sidebar_post_list li {
		line-height: 54px;
		text-align: center;
	}
	.sidebar_post_list a {
		border-bottom: 1px solid #d4d4d4;
		padding-bottom: 6px;
		text-decoration: none;
		/* color: var(--color-second); */
	}
	.card_header_right h2 {
		font-size: 26px;
		margin-top: -10px;
	}
	.card_header {
		flex-direction: row;
	}
	.card_header_right {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 0;
		margin-top: 0;
		padding-left: 16px;
	}
	.card_header_right h2 {
		-webkit-box-orient: vertical;
		display: -webkit-box;
		-webkit-line-clamp: 4;
		overflow: hidden;
		text-overflow: ellipsis;
		word-break: break-word;
	}
	.card_homepage {
		padding: 20px;
	}

	.blog_title_header {
		align-items: center;
		display: flex;
		height: 40px;
		justify-content: center;
		margin-bottom: 20px;
		margin-top: 20px;
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
	}
	.blog_title {
		font-size: 50px;
		font-style: bold;
	}
	.subcribe_container {
		position: relative;
	}
	.subcribe {
		left: 10px;
		position: absolute;
		top: -32px;
	}

	.main_article {
		display: grid;
		grid-template-columns: auto 250px;
	}
	.blog_main_content{
		padding: 20px;
	}
}
